:root{
    --primary-font: 'Roboto', sans-serif;
    --primary-accent-color: #4D5AE5;
    --primary-black-color: #2E2F42;
    --primary-white-color: #F4F4FD;
    --active-link-color: #404bbf;
    --white-color: #FFFFFF;
}
body{
    font-family: var(--primary-font)
    color: #434455;
    background-color: var(--white-color) ;
}
header{
    color: var(--white-color);
}
.link-heder-logo{
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    color: var(--primary-accent-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
.heder-logo-studio{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--primary-black-color);
    line-height: 21px;
    letter-spacing: 0.03px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio-list{
    list-style: none;
}
.portfolio-list-link{
    font-family: 'Roboto', sans-serif; 
    color: var(--primary-black-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
} 
.portfolio-list-link:active,
.portfolio-list-link:focus{
color: var(--active-link-color);
font-style: normal;
text-decoration: underline;
}
.address{
    font-style: normal;
}
.adress-list{
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}
.adress-list-link{
    text-decoration: none;
}
.adress-list-link:active,
.adress-list-link:focus{
    color: var(--active-link-color);
}
.item-button{
    font-family: 'Roboto', sans-serif; 
    color: var(--primary-accent-color);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary-white-color);
}
.item-button:hover,
.item-button:focus{
    color: var(--white-color);
    background-color: var(--active-link-color);
}
.portfolio-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--primary-black-color);
    line-height: 24px;
    letter-spacing: 0.02px;
    font-weight: 500;  
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.02px;   
}
.footer{
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
}

.heder-logo-studio-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--primary-white-color);
    line-height: 21px;
    letter-spacing: 0.03px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;    
}
.footer-text{
    color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-family: 16px;
    font-style: normal;
    line-height: 1.5; 
    letter-spacing: 0.02px;
    width: 264px;

}